header { 
 width:99.2%;
 height:80px;
 margin: 0 auto;
 background: #e718b9;
 color: #000000;
 border: 4px solid black;
  border-radius: 25px;
}
.main {
 display: flex;
 gap: 10px;
}
li {
display: inline;
}
.left { 
 height:700px;
 width:50%;
 background: #18b9e7;
 margin-left: 2px;
 margin-top: 10px;
 color: #000000;
 border: 4px solid black;
 border-radius: 25px;
 text-align: center;
}
a {
	font-size:18pt;
	margin: 250 0 0 15;
}
p { 
font-family: Verdana;
font-size: 20pt;
font-weight: bold;
}
h1 {
margin-right: 170px;
margin-top: -25px;
}
h2 {
margin-top: 15px;
font-size: 18pt;
}

.content  { 
 height:700px;
 width:50%;
 background: #b9e718;
 color: #000000;
 margin-right: 10x;
 margin-top: 10px;
 border: 4px solid black;
 border-radius: 25px;
 text-align: center;
}
footer { 
 width:100%;
 background: #000000;
 color: #000000;
 height: 5
}
